.imageCut{
    height: 250px;
    width: 250px;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-card-header{
    background-color: rgb(191, 239, 255);
}
.bg-card-body{
    background-color: lightcyan;
}